{% extends '::backend.html.twig' %}

{% block id 'producto' %}
{% block title %}Listado de productos{% endblock %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>Descripción</th>
            <th>Unidad de Medida</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <th>{{ entity.descripcion }}</th>
            <th>{{ entity.unidadmedida }}</th>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('backend_producto_edit', { 'id': entity.id }) }}">Modificar</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block button_area %}
<a class="button_primary button continue" href="{{ path('backend_producto_new') }}">
  Añadir un nuevo producto
</a>
{% endblock %}