{% extends '::backend.html.twig' %}

{% block id 'area' %}
{% block title %}Listado de áreas{% endblock %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th colspan="2">Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <th>{{ entity.nombre }}</th>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('backend_area_edit', { 'id': entity.id }) }}">Modificar</a>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('backend_area_print', { 'id': entity.id }) }}">Imprimir</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block button_area %}
<a class="button_primary button continue" href="{{ path('backend_area_new') }}">
  Añadir una nueva área
</a>
{% endblock %}