html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block
}
body {
	line-height:1
}
ol, ul {
	list-style:none
}
blockquote, q {
	quotes:none
}
blockquote:before, blockquote:after, q:before, q:after {
	content:'';
	content:none
}
table {
	border-collapse:collapse;
	border-spacing:0
}
table {
	vertical-align:middle
}
tbody, tfoot, thead, tr, th, td {
	vertical-align:inherit
}
h1, h2, h3, h4, h5, h6 {
	font-weight:bold
}
th {
	font-weight:bold
}
strong {
	font-weight:bold
}
p {
	margin:1em 0
}
h3 {
  font-size:18px;
  color: #69717E;
  margin: 10px auto;
  text-shadow: 1px 1px 1px #fff;
}
a {
	outline:0
}
/* Fancy Box here */
.mpbutton, .mpbutton-small, .mpbutton-smaller, .mpbutton-medium, .mpbutton-yans, .mpbutton-jr {
	background:url(../images/buttons.png) 0 0 no-repeat;
	border:0 none;
	cursor:pointer;
	outline:0;
	display:inline-block;
	text-indent:-7000px;
	white-space:nowrap
}
.mpbutton {
	width:95px;
	height:33px
}
.mpbutton-small {
	width:54px;
	height:23px
}
.mpbutton-smaller {
	width:44px;
	height:23px
}
.mpbutton-medium {
	width:72px;
	height:25px
}
.mpbutton-yans {
	width:69px;
	height:27px
}
.mpbutton-jr {
	width:82px;
	height:32px;
	position:relative;
	top:-1px
}
.mpbutton-grey, .mpbutton-grey.disabled:hover, .mpbutton-grey.disabled:active {
	padding:3px 8px;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#E0E0E0');
	background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0));
	background:-moz-linear-gradient(top, #fff, #e0e0e0);
	border:1px solid #acacac;
	color:#898989;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px
}
.mpbutton-grey:hover {
	color:#767676;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#c7c7c7');
	background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#c7c7c7));
	background:-moz-linear-gradient(top, #fff, #c7c7c7);
	border:1px solid #9c9c9c
}
.mpbutton-grey:active {
	color:#767676;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c7c7c7', endColorstr='#ffffff');
	background:-webkit-gradient(linear, left top, left bottom, from(#c7c7c7), to(#fff));
	background:-moz-linear-gradient(top, #c7c7c7, #fff);
	border:1px solid #9c9c9c
}
.mpbutton-grey.disabled, .mpbutton-grey.disabled * {
	opacity:.6
}
.mpbutton-grey.disabled {
	cursor:default
}
.mpbutton.cancel {
	background-position:0 0
}
.mpbutton.cancel:hover {
	background-position:-95px 0
}
.mpbutton.cancel:active {
	background-position:-190px 0
}
.mpbutton.reset {
	background-position:0 -33px
}
.mpbutton.reset:hover {
	background-position:-95px -33px
}
.mpbutton.reset:active {
	background-position:-190px -33px
}
.mpbutton.delete {
	background-position:0 -66px
}
.mpbutton.delete:hover {
	background-position:-95px -66px
}
.mpbutton.delete:active {
	background-position:-190px -66px
}
.mpbutton.okay-green {
	background-position:0 -99px
}
.mpbutton.okay-green:hover {
	background-position:-95px -99px
}
.mpbutton.okay-green:active {
	background-position:-190px -99px
}
.mpbutton.upgrade {
	background-position:0 -132px
}
.mpbutton.upgrade:hover {
	background-position:-95px -132px
}
.mpbutton.upgrade:active {
	background-position:-190px -132px
}
.mpbutton.upgrade.disabled, .mpbutton.upgrade.disabled * {
	background-position:0 -132px;
	opacity:.6;
	-moz-opacity:.6;
	-khtml-opacity:.6;
	filter:alpha(opacity=60);
	cursor:default
}
.mpbutton.login {
	background-position:0 -165px
}
.mpbutton.login:hover {
	background-position:-95px -165px
}
.mpbutton.login:active {
	background-position:-190px -165px
}
.mpbutton.okay-blue {
	background-position:0 -198px
}
.mpbutton.okay-blue:hover {
	background-position:-95px -198px
}
.mpbutton.okay-blue:active {
	background-position:-190px -198px
}
.mpbutton.edit {
	background-position:0 -231px
}
.mpbutton.edit:hover {
	background-position:-95px -231px
}
.mpbutton.edit:active {
	background-position:-190px -231px
}
.mpbutton.save-green {
	background-position:0 -264px
}
.mpbutton.save-green:hover {
	background-position:-95px -264px
}
.mpbutton.save-green:active {
	background-position:-190px -264px
}
.mpbutton.save {
	background-position:0 -264px
}
.mpbutton.save:hover {
	background-position:-95px -264px
}
.mpbutton.save:active {
	background-position:-190px -264px
}
.mpbutton.sign-up-blue {
	background-position:0 -297px
}
.mpbutton.sign-up-blue:hover {
	background-position:-95px -297px
}
.mpbutton.sign-up-blue:active {
	background-position:-190px -297px
}
.mpbutton.continue {
	background-position:0 -330px
}
.mpbutton.continue:hover {
	background-position:-95px -330px
}
.mpbutton.continue:active {
	background-position:-190px -330px
}
.mpbutton.sign-up-green {
	background-position:0 -363px
}
.mpbutton.sign-up-green:hover {
	background-position:-95px -363px
}
.mpbutton.sign-up-green:active {
	background-position:-190px -363px
}
.mpbutton.purchase {
	background-position:0 -396px
}
.mpbutton.purchase:hover {
	background-position:-95px -396px
}
.mpbutton.purchase:active {
	background-position:-190px -396px
}
.mpbutton.purchased.disabled, .mpbutton.purchased.disabled * {
	background-position:0 -396px;
	opacity:.6;
	-moz-opacity:.6;
	-khtml-opacity:.6;
	filter:alpha(opacity=60);
	cursor:default
}
.mpbutton.contact {
	background-position:0 -429px
}
.mpbutton.contact:hover {
	background-position:-95px -429px
}
.mpbutton.contact:active {
	background-position:-190px -429px
}
.mpbutton.preview {
	background-position:0 -462px
}
.mpbutton.preview:hover {
	background-position:-95px -462px
}
.mpbutton.preview:active {
	background-position:-190px -462px
}
.mpbutton.learn-more {
	background-position:0 -495px
}
.mpbutton.learn-more:hover {
	background-position:-95px -495px
}
.mpbutton.learn-more:active {
	background-position:-190px -495px
}
.mpbutton.previous {
	background-position:0 -528px
}
.mpbutton.previous:hover {
	background-position:-95px -528px
}
.mpbutton.previous:active {
	background-position:-190px -528px
}
.mpbutton.next-grey {
	background-position:0 -561px
}
.mpbutton.next-grey:hover {
	background-position:-95px -561px
}
.mpbutton.next-grey:active {
	background-position:-190px -561px
}
.mpbutton.signup-arrow {
	background-position:0 -594px
}
.mpbutton.signup-arrow:hover {
	background-position:-95px -594px
}
.mpbutton.signup-arrow:active {
	background-position:-190px -594px
}
.mpbutton.close {
	background-position:0 -627px
}
.mpbutton.close:hover {
	background-position:-95px -627px
}
.mpbutton.close:active {
	background-position:-190px -627px
}
.mpbutton.show {
	background-position:0 -660px
}
.mpbutton.show:hover {
	background-position:-95px -660px
}
.mpbutton.show:active {
	background-position:-190px -660px
}
.mpbutton.save-gray {
	background-position:0 -693px
}
.mpbutton.save-gray:hover {
	background-position:-95px -693px
}
.mpbutton.save-gray:active {
	background-position:-190px -693px
}
.mpbutton.update {
	background-position:0 -726px
}
.mpbutton.update:hover {
	background-position:-95px -726px
}
.mpbutton.update:active {
	background-position:-190px -726px
}
.mpbutton.continue-blue {
	background-position:0 -759px
}
.mpbutton.continue-blue:hover {
	background-position:-95px -759px
}
.mpbutton.continue-blue:active {
	background-position:-190px -759px
}
.mpbutton.create {
	background-position:0 -891px
}
.mpbutton.create:hover {
	background-position:-95px -891px
}
.mpbutton.create:active {
	background-position:-190px -891px
}
.mpbutton.create.disabled, .mpbutton.create.disabled * {
	background-position:0 -891px;
	opacity:.6;
	-moz-opacity:.6;
	-khtml-opacity:.6;
	filter:alpha(opacity=60);
	cursor:default
}
.mpbutton.previous {
	background-position:0 -825px
}
.mpbutton.previous:hover {
	background-position:-95px -825px
}
.mpbutton.previous:active {
	background-position:-190px -825px
}
.mpbutton.previous.disabled, .mpbutton.previous.disabled * {
	background-position:0 -825px;
	opacity:.6;
	-moz-opacity:.6;
	-khtml-opacity:.6;
	filter:alpha(opacity=60);
	cursor:default;
	position:relative;
	top:-1px
}
.mpbutton.next {
	background-position:0 -858px
}
.mpbutton.next:hover {
	background-position:-95px -858px
}
.mpbutton.next:active {
	background-position:-190px -858px
}
.mpbutton.next.disabled, .mpbutton.next.disabled * {
	background-position:0 -858px;
	opacity:.6;
	-moz-opacity:.6;
	-khtml-opacity:.6;
	filter:alpha(opacity=60);
	cursor:default;
	position:relative;
	top:-1px
}
.mpbutton.skip {
	background-position:0 -1023px
}
.mpbutton.skip:hover {
	background-position:-95px -1023px
}
.mpbutton.skip:active {
	background-position:-190px -1023px
}
.mpbutton.invite {
	background-position:0 -1056px
}
.mpbutton.invite:hover {
	background-position:-95px -1056px
}
.mpbutton.invite:active {
	background-position:-190px -1056px
}
.mpbutton.setup {
	background-position:0 -1089px
}
.mpbutton.setup:hover {
	background-position:-95px -1089px
}
.mpbutton.setup:active {
	background-position:-190px -1089px
}
.mpbutton-small.view-gray {
	background-position:-285px 0
}
.mpbutton-small.view-gray:hover {
	background-position:-339px 0
}
.mpbutton-small.view-gray:active {
	background-position:-393px 0
}
.mpbutton-small.view-blue {
	background-position:-285px -23px
}
.mpbutton-small.view-blue:hover {
	background-position:-339px -23px
}
.mpbutton-small.view-blue:active {
	background-position:-393px -23px
}
.mpbutton-small.save {
	background-position:-285px -46px
}
.mpbutton-small.save:hover {
	background-position:-339px -46px
}
.mpbutton-small.save:active {
	background-position:-393px -46px
}
.mpbutton-small.delete {
	background-position:-285px -69px
}
.mpbutton-small.delete:hover {
	background-position:-339px -69px
}
.mpbutton-small.delete:active {
	background-position:-393px -69px
}
.mpbutton-small.create {
	background-position:-285px -92px
}
.mpbutton-small.create:hover {
	background-position:-339px -92px
}
.mpbutton-small.create:active {
	background-position:-393px -92px
}
.mpbutton-small.invite {
	background-position:-285px -115px
}
.mpbutton-small.invite:hover {
	background-position:-339px -115px
}
.mpbutton-small.invite:active {
	background-position:-393px -115px
}
.mpbutton-small.sign-up {
	background-position:-285px -138px
}
.mpbutton-small.sign-up:hover {
	background-position:-339px -138px
}
.mpbutton-small.sign-up:active {
	background-position:-393px -138px
}
.mpbutton-small.edit {
	background-position:-285px -161px
}
.mpbutton-small.edit:hover {
	background-position:-339px -161px
}
.mpbutton-small.edit:active {
	background-position:-393px -161px
}
.mpbutton-small.save-grey {
	background-position:-285px -184px
}
.mpbutton-small.save-grey:hover {
	background-position:-339px -184px
}
.mpbutton-small.save-grey:active {
	background-position:-393px -184px
}
.mpbutton-small.hide {
	background-position:-285px -207px
}
.mpbutton-small.hide:hover {
	background-position:-339px -207px
}
.mpbutton-small.hide:active {
	background-position:-393px -207px
}
.mpbutton-small.cancel {
	background-position:-285px -230px
}
.mpbutton-small.cancel:hover {
	background-position:-339px -230px
}
.mpbutton-small.cancel:active {
	background-position:-393px -230px
}
.mpbutton-small.next {
	background-position:-285px -253px
}
.mpbutton-small.next:hover {
	background-position:-339px -253px
}
.mpbutton-small.next:active {
	background-position:-393px -253px
}
.mpbutton-small.remove {
	background-position:-285px -276px
}
.mpbutton-small.remove:hover {
	background-position:-339px -276px
}
.mpbutton-small.remove:active {
	background-position:-393px -276px
}
.mpbutton-medium.login {
	background-position:-447px 0
}
.mpbutton-medium.login:hover {
	background-position:-519px 0
}
.mpbutton-medium.login:active {
	background-position:-591px 0
}
.mpbutton-medium.sign-up {
	background-position:-447px -25px
}
.mpbutton-medium.sign-up:hover {
	background-position:-519px -25px
}
.mpbutton-medium.sign-up:active {
	background-position:-591px -25px
}
.mpbutton-medium.skip {
	background-position:-447px -50px
}
.mpbutton-medium.skip:hover {
	background-position:-519px -50px
}
.mpbutton-medium.skip:active {
	background-position:-591px -50px
}
.mpbutton-medium.show {
	background-position:-447px -75px
}
.mpbutton-medium.show:hover {
	background-position:-519px -75px
}
.mpbutton-medium.show:active {
	background-position:-591px -75px
}
.mpbutton-medium.sign-up-green {
	background-position:-447px -100px
}
.mpbutton-medium.sign-up-green:hover {
	background-position:-519px -100px
}
.mpbutton-medium.sign-up-green:active {
	background-position:-591px -100px
}
.mpbutton-medium.check {
	background-position:-447px -125px
}
.mpbutton-medium.check:hover {
	background-position:-519px -125px
}
.mpbutton-medium.check:active {
	background-position:-591px -125px
}
.mpbutton-smaller.hide {
	background-position:-663px 0
}
.mpbutton-smaller.hide:hover {
	background-position:-707px 0
}
.mpbutton-smaller.hide:active {
	background-position:-751px 0
}
.mpbutton-yans.done {
	background-position:-795px 0
}
.mpbutton-yans.done:hover {
	background-position:-864px 0
}
.mpbutton-yans.done:active {
	background-position:-933px 0
}
.mpbutton-jr.change {
	background-position:-1002px 0
}
.mpbutton-jr.change:hover {
	background-position:-1084px 0
}
.mpbutton-jr.change:active {
	background-position:-1166px 0
}
.mpbutton-jr.change.disabled, .mpbutton-jr.change.disabled * {
	background-position:-1002px 0;
	opacity:.6;
	-moz-opacity:.6;
	-khtml-opacity:.6;
	filter:alpha(opacity=60);
	cursor:default
}
.mpbutton-jr.invite {
	background-position:-1002px -32px
}
.mpbutton-jr.invite:hover {
	background-position:-1084px -32px
}
.mpbutton-jr.invite:active {
	background-position:-1166px -32px
}
.mpbutton-jr.create {
	background-position:-1002px -64px
}
.mpbutton-jr.create:hover {
	background-position:-1084px -64px
}
.mpbutton-jr.create:active {
	background-position:-1166px -64px
}
.mpbutton-jr.create.disabled, .mpbutton-jr.create.disabled * {
	background-position:-1002px -64px;
	opacity:.6;
	-moz-opacity:.6;
	-khtml-opacity:.6;
	filter:alpha(opacity=60);
	cursor:default
}

table {
  border-top-left-radius: 2px;
  -moz-border-top-left-radius: 2px;
  -webkit-border-top-left-radius: 2px;
  -khtml-border-top-left-radius: 2px;
  -o-border-top-left-radius: 2px;
  border-top-right-radius: 0px;
  -moz-border-top-right-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -khtml-border-top-right-radius: 0px;
  -o-border-top-right-radius: 0px;
}

table, th, td {
  border-collapse: collapse;
  border-spacing: 0;
}

table thead th {
  max-width: 320px;
  border-left: 1px solid #1E304D;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom-right-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -khtml-border-bottom-right-radius: 0px;
  -o-border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-bottom-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -khtml-border-bottom-left-radius: 0px;
  -o-border-bottom-left-radius: 0px;
  padding: 10px 15px;
  color: white;
  text-shadow: 0px 1px 1px #555;
  font-weight: bold;
  border-width: 1px 0px;
  border-color: #1E304D;
  border-style: solid;
  white-space: nowrap;
  background: -webkit-gradient(linear, left top, left bottom, from(#5D80AA), to(#416491));
  background: -moz-linear-gradient(top, #5D80AA, #416491);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5d80aa", endColorstr="#416491");
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset;
  -khtml-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset;
  -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset;
}

table tbody td,
table tbody th {
  padding: 5px 15px;
  background-color: white;
  border-bottom: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
  color: #555;
}

table tbody th {
  background: #eaeaea;
}