{% extends '::backend.html.twig' %}

{% block id 'login' %}
{% block title %}Bienvenido{% endblock %}

{% block content %}
<form action="{{ path('admin_login_check') }}" method="post">
    <div class="input_wrapper">
      <label for="username">Usuario</label>
      <input type="text" name="_username" id="username" value="{{ last_username }}" required="required" />
      <label for="password">Password</label>
      <input type="password" name="_password" id="password" required="required" />
      <input type="checkbox" id="no_cerrar" name="_remember_me" checked />
      <label for="no_cerrar">No cerrar sesión</label>
    </div>
    <p>
        <button class="button_primary button continue" type="submit">Iniciar Sesión</button>
    </p>
</form>
{% endblock %}